<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAb86oAIFRGJwF02-8WRHAxDEWZgEwE_k0</string>
	<key>GCM_SENDER_ID</key>
	<string>657392896421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskMaster</string>
	<key>PROJECT_ID</key>
	<string>task-master-1b811</string>
	<key>STORAGE_BUCKET</key>
	<string>task-master-1b811.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657392896421:ios:d65fdef26a58cfdb51804c</string>
</dict>
</plist>